table {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    min-width: 1000px;
    max-width: 1000px;

}

table th {
    font-weight: normal;
    font-size: 27px;
    color: #ffffff;
    background-color: #354251;
    max-width: 500px
}

table td {
    font-size: 13px;
    color: #354251;
}

table td, table.iksweb th {
    white-space: pre-wrap;
    padding: 28px 0px;
    line-height: 13px;
    vertical-align: middle;
    border: 1px solid #354251;
}

table.iksweb tr:hover {
    background-color: #f9fafb
}

table tr:hover td {
    color: #354251;
    cursor: default;
    max-width: 100%
}
.search-input-table{
    padding-bottom: 50px;
    text-align: center;
}

.thHide{
    visibility: hidden;
    max-width: 0!important;
}
.thVision{
    visibility: visible;
}

.block-table{
    margin-top: 50px;
}
.block-table table{
    margin: auto;
}
